$themes: (light: (backgroundColorPrimary: $light-background-primary,
    backgroundColorSecondary: $light-background-secondary,
    textColorPrimary: $light-text-primary,
    textColorSecondary: $light-text-secondary,
    backgroundColorSidebar: $light-sidebar-background,
    gmbackroundColor: $gm-light-background,
    linkColor: $light-link-color,
    boxShadow: $light-boxshadow-color,
    backgoundColorHover: $light-background-hover,
    colorHover: $light-background-hover,
  ),
  dark: (backgroundColorPrimary: $dark-background-primary,
    backgroundColorSecondary: $dark-background-secondary,
    backgroundColorSidebar: $dark-sidebar-background,
    textColorPrimary: $dark-text-primary,
    textColorSecondary: $dark-text-secondary,
    gmbackroundColor: $gm-dark-background,
    linkColor: $dark-link-color,
    boxShadow: $dark-boxshadow-color,
    backgoundColorHover: $light-color-hover,
    colorHover: $light-color-hover,
  ),
);